# Vivado
.Xil/
.cache/
.hw/
.ip_user_files/
.runs/
.sim/

*.jou
*.log
*.str

# ModelSim / Questa
work/
transcript
vsim.wlf
vsim_stacktrace.vstf
wlft*

# Waveforms
*.vcd
*.wlf
*.vpd
*.fsdb

# Coverage
*.ucdb

# VCS
csrc/
simv
simv.daidir/
ucli.key

# Temporary
*.tmp
*.bak

covhtmlreport/
